.calculator{
            display: grid;
            width: 600px;
            height: 500px;
            grid-template-columns: 1fr 1fr 1fr  1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            border: 2px solid ;
            grid-gap: 10px;
            background-color: black;
            padding: 25px;
            border-radius: 10px;
            
        }
        .display{
            grid-column: 1/5;
            border-radius: 0px;
            border: 1px solid;
            background-color:rgb(82, 187, 208);
            
        }
        .unit{
            border: 1px solid;
            font-size: x-large;
            text-align: center;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: black;
            color: white;
            padding-top: 25px;
            border-radius: 20px;
            
        }
        .symbol{
            border: 1px solid;
            font-size: x-large;
            text-align: center;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: orange;
            color: black;
            padding-top: 25px;
            border-radius: 20px;

        }